*~
\#*\#
*.elc
.DS_Store
.places
.tern-port
.mc-lists.el
.yas-compiled-snippets.el
places
ac-comphist.dat
network-security.data
auto-save-list
backups
elpa*
history
recentf
smex-items
vimish-fold
games
url
