*~
\#*\#
*.elc
.cache/
.DS_Store
.lsp*
.places
.tern-port
.mc-lists.el
.yas-compiled-snippets.el
places
ac-comphist.dat
network-security.data
auto-save-list
backups
elpa*
history
lsp-cache
recentf
smex-items
transient
vimish-fold
games
url
